  <div class="header">
    <a routerLink=''><img src="./../../assets/images/logo-with-name.png" alt="Wunderground logo"></a>
    <p id="sensor"><a href="#">Sensor Network</a></p>
    <p id="maps">Maps & Radar</p>
    <p id="severe">Severe Weather</p>
    <p id="news">News & Blogs</p>
    <p id="mobile">Mobile Apps</p>
    <p id="more">More</p>
    <input type="text" class="location-bar" placeholder="Search Locations">
    <p class="membership"><a routerLink="login">Log In</a></p>
    <p class="membership"><a routerLink="signup">Join</a></p>
  </div>
