.footer {
  background-color: #1e2023;
}

.links a {
  font-family: sans-serif;
  color: #8ed1e9;
}

a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#cloudPower, #copyright {
  color: #fff;
}
