.alert-signup {
display: flex;
flex-direction: row;
background-color: #333333;
}

.alert-text {
  font-size: 16px;
  font-family: sans-serif;
  color: #FFFFFF;
  margin-left: auto;
}

.subscribe {
  margin-right: auto;
  margin-left: 10px;
  .button-subscribe {
    margin-top: 5px;
    color: #FFFFFF;
    background-color: #15AADC;
    padding: 7.5px 52.5px;
    border-radius: 3px;
    font-size: 15px;
    font-family: sans-serif;
    border-top: 3px solid transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 3px solid #008fbf;
    transition: background-color .25 ease-out, color .25s ease-out;
  }

  .button-subscribe a {
    text-decoration: none;
    color: #FFFFFF;
  }

}
